
-- Create teachers table
CREATE TABLE IF NOT EXISTS public.teachers (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    cnic TEXT UNIQUE NOT NULL,
    phone TEXT,
    email TEXT,
    specialization TEXT,
    status TEXT DEFAULT 'Active',
    added_on TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    notes TEXT
);

-- Create teacher_batches junction table
CREATE TABLE IF NOT EXISTS public.teacher_batches (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    teacher_id UUID REFERENCES public.teachers(id) ON DELETE CASCADE,
    batch_id UUID REFERENCES public.batches(id) ON DELETE CASCADE,
    role TEXT DEFAULT 'Main', -- Main or Assistant
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(teacher_id, batch_id)
);

-- Create teacher_payments table
CREATE TABLE IF NOT EXISTS public.teacher_payments (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    teacher_id UUID REFERENCES public.teachers(id) ON DELETE CASCADE,
    amount DECIMAL(10, 2) NOT NULL,
    month TEXT NOT NULL,
    paid_on DATE DEFAULT CURRENT_DATE,
    method TEXT,
    reference TEXT,
    notes TEXT,
    status TEXT DEFAULT 'Paid'
);

